/** @format */

.container {
	flex-shrink: 0;
	position: fixed;
	border-radius: 15px;
	top: 0px;
	bottom: 0;
	left: 0;
	right: 0;

	display: flex;
	justify-content: center;
	align-items: center;

	.content {
		border-radius: 15px;
		display: flex;
		flex-direction: column;
		gap: 5px;
		background-color: #d3d3d3;
		width: 35%;
		max-width: 430px;

		.nav {
			background-color: var(--green-background-color);
			height: 85px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 14px 25px;
			border-radius: 15px 15px 0 0;
			color: var(--white-color);
			font-size: 18px;
			font-weight: 600;
			line-height: 24px;
		}

		.information {
			display: flex;
			flex-direction: column;
			gap: 20px;

			.information2 {
				padding: 30px;
				display: flex;
				flex-direction: column;
				gap: 20px;
			}

			div {
				display: flex;
				flex-direction: column;
				gap: 10px;
			}

			input {
				display: flex;
				width: 100%;
				padding: 14px 25px;
				align-items: flex-start;

				border-radius: 35px;
				border: 1px solid #4f4758;

				background-color: transparent;
			}
		}

		button {
			margin: 0 30px 30px 30px;
			background-color: var(--background-color);
			color: var(--white-color);
			padding: 14px 28px;
			border-radius: 32px;
			text-align: center;
			border: none;
            cursor: pointer;
		}
	}
}
