.children{
    max-width: 1280px;
    max-height: 6130;
    padding-left: 15px;
    padding-right: 25px;
    margin: auto;
    margin-bottom: 20px;
    min-height: 100%;
}

.espace{
    height: 70.27px;
    background-color: var(--white-color);
}