.container {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}

.children {
    flex-grow: 1;
    max-width: 1512px;
    max-height: 2850px;
    width: 100%;
}